In [2]:
                                                             Name :- Rohit bharswaj
                                                             Assignment :- Database,Mongodb
                                                             Batch :- Data science



# What is mongoDB ? Expkain non-relation databasee in short .in which scenario 
# if is prefered to use MongoDB over SQL database

# What is MongoDB?

# MongoDB is an open-source document-oriented database that is designed 
# to store a large scale of data and also allows you to work with that 
# data very efficiently. It is categorized under the NoSQL (Not only SQL) 
# database because the storage and retrieval of data in the MongoDB are 
# not in the form of tables

# Explain non-relation database in short

# A non-relational database is a database that does not use the tabular
# schema of rows and columns found in most traditional database systems.
# Instead, non-relational databases use a storage model that is optimized 
# for the specific requirements of the type of data being stored

# in which scenario if is prefered to use MongoDb over SOL database

# NoSQL databases like MongoDB are a good choice when your data is 
# document-centric and doesn't fit well into the schema of a relational
# database, when you need to accommodate massive scale, when you are rapidly 
# prototyping, and a few other use

In [3]:
# State and Explain the features of MongoDB.

# Schema-less Database: It is the great feature provided by the MongoDB. 
# A Schema-less database means one collection can hold different types of
# documents in it

# Document Oriented: In MongoDB, all the data stored in the documents 
# instead of tables likein RDB

# Indexing: In MongoDB database, every field in the documents is indexed
# with primary and secondary indices this makes easier and takes less time 
# to get or search data from the pool of the data

In [5]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database 
# and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 34.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [3]:
from pymongo import MongoClient

# Replace the connection string with your own.
client = MongoClient("mongodb+srv://Mrmidnight:RohitDRCC@cluster0.thjekhz.mongodb.net/?retryWrites=true&w=majority")

# Get a reference to the database.
db = client.mydatabase

In [4]:
collection = db.mycollection

document1 = {'name' : 'ROHIT','age' : '20','course': 'data science'}
collection.insert_one(document1)

In [5]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
one_record = {'name':'Rohit bhardwaj',
             'Batch_name':'Data science master',
             'age':20,
             'id':420,
             'Batch_time':'6.oclock'}
collection.insert_one(one_record)

In [7]:
many_record = [{'name' : 'rohit','age':'20'},
        {'name':'rishi','age':'19'},
        {'name':'sakshi','age':'21'},
        {'name':'suman','age':'26'},
        {'name':'viksh','age':'30'},
        {'name':'vickey','age':'29'}]
collection.insert_many(many_record)

In [8]:
collection.find_one()

{'_id': ObjectId('64513e90b8c6bc9bc8895d4b'), 'name': 'John', 'age': 30}

In [9]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64513e90b8c6bc9bc8895d4b'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64514411b8c6bc9bc8895d4c'), 'name': 'John', 'age': 30}
{'_id': ObjectId('6454f85f0a0d25e039119129'), 'name': 'ROHIT', 'age': '20', 'course': 'data science'}
{'_id': ObjectId('6454fa090a0d25e03911912a'), 'name': 'Rohit bhardwaj', 'Batch_name': 'Data science master', 'age': 20, 'id': 420, 'Batch_time': '6.oclock'}
{'_id': ObjectId('6454fa690a0d25e03911912b'), 'name': 'rohit', 'age': '20'}
{'_id': ObjectId('6454fa690a0d25e03911912c'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('6454fa690a0d25e03911912d'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('6454fa690a0d25e03911912e'), 'name': 'suman', 'age': '26'}
{'_id': ObjectId('6454fa690a0d25e03911912f'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('6454fa690a0d25e039119130'), 'name': 'vickey', 'age': '29'}
{'_id': ObjectId('645501800a0d25e039119131'), 'name': 'notebok', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'hight': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['colleg_ruled', 'perforated']}
{'_id': ObjectId('6455416e0a0d25e039119132'), 'name': 'notebok', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'hight': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['colleg_ruled', 'perforated']}
{'_id': ObjectId('645549d874461f1b83d66513'), 'name': 'rohit', 'age': '20'}
{'_id': ObjectId('645549d874461f1b83d66514'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('645549d874461f1b83d66515'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('645549d874461f1b83d66516'), 'name': 'suman', 'age': '26'}
{'_id': ObjectId('645549d874461f1b83d66517'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('645549d874461f1b83d66518'), 'name': 'vickey', 'age': '29'}
{'_id': ObjectId('64578db03a1edfe96b6aa51c'), 'name': 'ROHIT', 'age': '20', 'course': 'data science'}
{'_id': ObjectId('64578db33a1edfe96b6aa51d'), 'name': 'Rohit bhardwaj', 'Batch_name': 'Data science master', 'age': 20, 'id': 420, 'Batch_time': '6.oclock'}
{'_id': ObjectId('64578db43a1edfe96b6aa51e'), 'name': 'rohit', 'age': '20'}
{'_id': ObjectId('64578db43a1edfe96b6aa51f'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('64578db43a1edfe96b6aa520'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('64578db43a1edfe96b6aa521'), 'name': 'suman', 'age': '26'}
{'_id': ObjectId('64578db43a1edfe96b6aa522'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('64578db43a1edfe96b6aa523'), 'name': 'vickey', 'age': '29'}

In [10]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
# demonstrate this.

In [11]:
for i in collection.find({'name':'sakshi'}):
    print(i)
    
for i in collection.find({'name':'rishi'}):
    print(i)
    
    for i in collection.find({'name':'viksh'}):
        print(i)

{'_id': ObjectId('6454fa690a0d25e03911912d'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('645549d874461f1b83d66515'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('64578db43a1edfe96b6aa520'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('6454fa690a0d25e03911912c'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('6454fa690a0d25e03911912f'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('645549d874461f1b83d66517'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('64578db43a1edfe96b6aa522'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('645549d874461f1b83d66514'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('6454fa690a0d25e03911912f'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('645549d874461f1b83d66517'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('64578db43a1edfe96b6aa522'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('64578db43a1edfe96b6aa51f'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('6454fa690a0d25e03911912f'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('645549d874461f1b83d66517'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('64578db43a1edfe96b6aa522'), 'name': 'viksh', 'age': '30'}

In [12]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [13]:
data = {'name': 'notebok',
        'qty':50,
        'rating':[{'score': 8},{'score': 9}],
        'size':{'hight':11,'width':8.5,'unit':'in'},
        'status':'A',
        'tags':['colleg_ruled','perforated']
        }
collection.insert_one(data)

In [14]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [15]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64513e90b8c6bc9bc8895d4b'), 'name': 'John', 'age': 30}
{'_id': ObjectId('64514411b8c6bc9bc8895d4c'), 'name': 'John', 'age': 30}
{'_id': ObjectId('6454f85f0a0d25e039119129'), 'name': 'ROHIT', 'age': '20', 'course': 'data science'}
{'_id': ObjectId('6454fa090a0d25e03911912a'), 'name': 'Rohit bhardwaj', 'Batch_name': 'Data science master', 'age': 20, 'id': 420, 'Batch_time': '6.oclock'}
{'_id': ObjectId('6454fa690a0d25e03911912b'), 'name': 'rohit', 'age': '20'}
{'_id': ObjectId('6454fa690a0d25e03911912c'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('6454fa690a0d25e03911912d'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('6454fa690a0d25e03911912e'), 'name': 'suman', 'age': '26'}
{'_id': ObjectId('6454fa690a0d25e03911912f'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('6454fa690a0d25e039119130'), 'name': 'vickey', 'age': '29'}
{'_id': ObjectId('645501800a0d25e039119131'), 'name': 'notebok', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'hight': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['colleg_ruled', 'perforated']}
{'_id': ObjectId('6455416e0a0d25e039119132'), 'name': 'notebok', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'hight': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['colleg_ruled', 'perforated']}
{'_id': ObjectId('645549d874461f1b83d66513'), 'name': 'rohit', 'age': '20'}
{'_id': ObjectId('645549d874461f1b83d66514'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('645549d874461f1b83d66515'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('645549d874461f1b83d66516'), 'name': 'suman', 'age': '26'}
{'_id': ObjectId('645549d874461f1b83d66517'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('645549d874461f1b83d66518'), 'name': 'vickey', 'age': '29'}
{'_id': ObjectId('64578db03a1edfe96b6aa51c'), 'name': 'ROHIT', 'age': '20', 'course': 'data science'}
{'_id': ObjectId('64578db33a1edfe96b6aa51d'), 'name': 'Rohit bhardwaj', 'Batch_name': 'Data science master', 'age': 20, 'id': 420, 'Batch_time': '6.oclock'}
{'_id': ObjectId('64578db43a1edfe96b6aa51e'), 'name': 'rohit', 'age': '20'}
{'_id': ObjectId('64578db43a1edfe96b6aa51f'), 'name': 'rishi', 'age': '19'}
{'_id': ObjectId('64578db43a1edfe96b6aa520'), 'name': 'sakshi', 'age': '21'}
{'_id': ObjectId('64578db43a1edfe96b6aa521'), 'name': 'suman', 'age': '26'}
{'_id': ObjectId('64578db43a1edfe96b6aa522'), 'name': 'viksh', 'age': '30'}
{'_id': ObjectId('64578db43a1edfe96b6aa523'), 'name': 'vickey', 'age': '29'}
{'_id': ObjectId('64578db83a1edfe96b6aa524'), 'name': 'notebok', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'hight': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['colleg_ruled', 'perforated']}

In [16]:
collection.find()

In [17]:
db.collection.find().sort({ age: 1 })

NameError: name 'age' is not defined